@charset "utf-8";
/*css document*/
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
	background: #f5f5f5;
	height: 100%;
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
a{
	text-decoration: none;
	display: block;
}
span{
	display: block;
}
h3{
	font-weight: normal;
}
i{
    display: block;
}
/* header */
header{
	width: 100%;
	height: .44rem;
	background: linear-gradient(rgba(0,0,0,.15),transparent);
	display: -webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 11;
}
.tb-market-header-left{
	display: -webkit-flex;
	padding-left: 10px;
}
.tb-market-header-left a{
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	text-align: center;
	margin-right: 5px;
}
.tb-market-header-left a i{
	line-height: .3rem;
	color: white;
}
.back i{
	font-size: .28rem;
}
.search i{
	font-size: .25rem;
}
.tb-market-header-center{
	-webkit-flex:1;
	display: none;
	-webkit-justify-content:center;
}
.tb-market-header-center li{
	font-size: 12px;
	color: #999;
	height: .42rem;
	line-height: .44rem;
	width: .42rem;
	border-bottom: 2px solid #fff;
	text-align: center;
}
.tb-market-header-center li:first-child{
	color: #ff0036;
	border-bottom: 2px solid #ff0036;
}
.tb-market-header-right{
	display: -webkit-flex;
	padding-right: 10px;
}
.tb-market-header-right a{
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	text-align: center;
	margin-left: 5px;
}
.tb-market-header-right a i{
	line-height: .3rem;
	color: white;
}
.cart i{
	font-size: .3rem;
}
.list i{
	font-size: .22rem;
}
/* content */
.tb-market-content{
	width: 100%;
	overflow-y: auto;
}
.tb-market-goods-banner{
	width: 100%;
	height: 3.752rem;
	position: relative;
}
.tb-market-goods-banner img{
	width: 100%;
}
#pages{
	height: .2rem;
}
#pages span{
	height: .2rem;
}
.banner-nav{
	width: 100%;
	padding: 0 .3rem;
	box-sizing: border-box;
	display: -webkit-flex;
	font-size: 12px;
	-webkit-justify-content:center;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 11;
}
.videos,.images{
	border-radius: 10px;
	line-height: .2rem;
	height: .2rem;
}
.videos{
	background: rgba(240,240,240,.8);
	padding: 0 10px 0 .15rem;
	color: #333;
	position: relative;
}
.videos span{
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #333;
	border-style: dashed;
	border-width: 5px;
	position: absolute;
	top: 5px;
	left: 8px;
}
.images{
	background: #FF0036;
	padding: 0 10px;
	color: #fff;
	margin-left: 10px;
}
.tb-market-goods-type{
	padding: 0 10px;
	background: #fff;
	margin-bottom: 10px;
}
.real-price{
	color: #FF0036;
	height: .36rem;
	line-height: .36rem;
	display: -webkit-flex; 
	-webkit-align-items:center;
}
.price-num{
	display: -webkit-flex;
	-webkit-align-items:center;
}
.price-symbol{
	font-size: .18rem;
	font-style: normal;
	height: .2rem;
	line-height: .2rem;
	width: .15rem;
}
.price{
	font-size: .24rem;
	margin-right: 5px;
	height: .26rem;
	line-height: .26rem;
	width: .47rem;
}
.recommend{
	font-size: 12px;
	background: #fb6878;
	padding: 1px 2px;
	color: #fff;
	height: .15rem;
	line-height: .15rem;
}
.goods-title{
	padding-top: 3px;
}
.title-main{
	font-size: .14rem;
	color: #051B28;
	line-height: .2rem;
}
.goods-standard{
	font-size: 12px;
	color: #999;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
	line-height: .3rem;
}
.tb-market-goods-serve{
	margin-bottom: 10px;
}
.credits{
	padding: 12px 10px;
	display: -webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:center;
	background: #fff;
}
.credits-left{
	display: -webkit-flex;
	-webkit-align-items:center;
	-webkit-justify-content:space-between;
}
.cu{
	font-size: 12px;
	width: .3rem;
	color: #999;
}
.ji{
	font-size: 10px;
	background-color: #FFF5F7;
	border: 1px solid #FFF5F7;
	border-radius: 2px;
	padding: 1px 3px;
	color: #FF0036;
}
.gou{
	font-size: 12px;
	color: #051b28;
}
.right-icon{
	width: .13rem;
}
.right-icon i{
	font-size: .2rem;
	color: #ccc;
}
.serve{
	margin-top: 10px;
	padding: 0 10px;
	background: #fff;
}
.logo img{
	height: .2rem;
	padding: 10px 0 5px 0;
}
.serve-main-wrapper{
	display: -webkit-flex;
	padding: 10px 0;
}
.left-wrapper{
	width: .3rem;
	color: #999;
	font-size: 12px;
}
.center-wrapper-word{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-size: 12px;
}
.center-wrapper{
	-webkit-flex:1;
	width: 2.9rem;
}
.center-wrapper a{
	font-size: 12px;
	color: #999;
	display: -webkit-flex;
}
.center-wrapper a img{
	height: .14rem;
	margin-right: 5px;
}
.right-wrapper{
	width: .13rem;
	margin-left: .1rem;
}
.right-wrapper i{
	width: .13rem;
	font-size: .2rem;
	color: #ccc;
}
.bot-center-wrapper a{
	font-size: 10px;
}
.bot-center-wrapper a img{
	height: .12rem;
}
.tb-market-goods-canshu{
	margin-bottom: 10px;
}
.tb-market-goods-canshu .ji{
	font-size: 12px;
	color: #051b28;
	background-color:none;
	border: none;
	border-radius: 0;
	padding:0;
}
/* ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ */
.tb-market-goods-appraise{
	margin-bottom: 10px;

}
/* ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ */
.tb-market-shop-enter{
	margin-bottom: 10px;
	padding: 10px;
	background: #fff;
}
.shop-main{
	display: -webkit-flex;
}
.shop-logo{
	width: .54rem;
	height: .54rem;
	border:1px solid rgba(151,151,151,.5);
}
.shop-logo img{
	width: 100%;
	height: 100%;
}
.shop-info{
	padding: 5px 10px;
	-webkit-flex:1;
}
.shop-name{
	color: #333;
	font-size: .16rem;
}
.shop-title{
	margin-top: 5px;
}
.shop-title img{
	height: .14rem;
	margin-right: 2px;
	margin-bottom: 2px;
}
.shop-score{
	color: #999;
	font-size: 12px;
	margin: 12px 0 10px;
	text-align: center;
	display: -webkit-flex;
}
.shop-score li{
	-webkit-flex:1;
}
.shop-score li b{
	color: #e13e4c;
	background: url(../img/下载.png);
	background-position: 98% 50%;
	padding-right: .14rem;
	background-size: 12px;
	background-repeat: no-repeat;
	font-weight: 400;
}
.enter-btn a{
	border: 1px solid rgba(255,0,54,.5);
	height: .24rem;
	line-height: .22rem;
	font-size: .13rem;
	color: rgba(255,0,54,.8);
	border-radius: 12px;
	text-align: center;
	max-width: .96rem;
	margin: 0 auto;
}
/* footer */
footer{
	height: .5rem;
	display: -webkit-flex;
	background: #fff;
}
.footer-left{
	width: 1rem;
	height: .5rem;
	display: -webkit-flex;
	-webkit-align-items:center;
	background: #fff;
}
.footer-left a{
	width: .5rem;
	height: .46rem;
	text-align: center;
	padding-top: 4px;
}
.footer-left a i{
	font-size: .26rem;
	height: .24rem;
	color: #999;
}
.footer-left a span{
	font-size: 12px;
	color: #999;
}
.footer-left .favorite{
	padding-top: 7px;
	height: .43rem;
}
.footer-left .favorite i{
	height: .21rem;
}
.footer-right{
	-webkit-flex:1;
	height: .5rem;
}
.addCart{
	background: #FF9500;
	font-size: .15rem;
	line-height: .5rem;
	text-align: center;
	color: white;
}