@charset "utf-8";
/*css document*/
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
	height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
	background: #f8f8f8;
	height: 100%;
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
a{
	text-decoration: none;
	display: block;
	color: #333333;
}
span{
	display: block;
}
h3{
	font-weight: normal;
}
i{
    display: block;
}
/* header */
header{
    width: 100%;
    height: .44rem;
    display: -webkit-flex;
    -webkit-justify-content:space-between;
    -webkit-align-items:center;
    background: 0 0;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}
.tb-market-header-left{
    width: .4rem;
}
.tb-market-header-left a i{
    margin-left: 10px;
    font-size: .16rem;
    color: white;
}
.tb-market-header-center{
    -webkit-flex:1;
}
.header-center-address{
    width: 100%;
    display: -webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
}
.header-center-search{
    width: 100%;
    position: relative;
    border-radius: .15rem;
    display: none;
}
.header-center-search .push-search{
    background: #f4f4f4 !important;
}
.center-logo{
    font-size: .28rem;
    padding-right: 5px;
}
.center-address{
    display: -webkit-flex;
    -webkit-align-items:center;
}
.city{
    font-size: .12rem;
    color: white;
    line-height: .12rem;
    padding-left: 6px;
    border-left: 1px solid rgba(255,255,255,.5);
}
.sanjiao{
    width: 0;
    height: 0;
    border-style: solid;
    border-width:4px 3px 0;
    border-color:rgba(94,99,109,.5) transparent transparent;
    margin-left: 3px;
}
.tb-market-header-right{
    width: .46rem;
}
.tb-market-header-right a i{
    font-size: .3rem;
    color: white;
    margin-right: 10px;
}
/* content */
.tb-market-content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y:auto;
}
.tb-market-content-search{
    height: .3rem;
    width: 3.45rem;
    position: absolute;
    top: .44rem;
    left: 50%;
    margin-left:-1.725rem;
    z-index: 10;
}
.push-search{
    display: block;
    width: 100%;
    border: none;
    border-radius: .15rem;
    outline: none;
    background:white;
    height: .3rem;
    padding-left: .3rem;
    box-sizing: border-box;
    color: #999;
}
.icon-chazhao{
    width: .3rem;
    height: .3rem;
    font-size: .18rem;
    line-height: .3rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #999;
}
.tb-market-content-banner{
    width: 100%;
    height: 2.69rem;
}
.tb-market-content-banner img{
    width: 100%;
}
#diandian{
    bottom: 3px;
    height: .14rem;
    display: -webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-items:center;
}
#diandian .swiper-pagination-bullet{
    width: .15rem;
    height: 2px;
    margin: 0 2px 0 0;
    background-color: rgba(255,255,255,.6);
    display: block;
}
#diandian .swiper-pagination-bullet-active{
    background-color: #fff;
}
.tb-market-content-nav{
    padding-bottom: .17rem;
    margin-bottom: 9px;
    background-color: #fff;
}
.content-nav-main{
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex;
    padding: 10px;
}
.content-nav-main a{
    width: 20%;
    color: #2f2f2f;
}
.content-nav-main a img{
    width: .56rem;
    border-radius: 50%;
    margin: 0 auto;
}
.content-nav-main a span{
    margin: 9px auto 0;
    font-size: 12px;
    width: .48rem;
    height: .12rem;
}
#diandian2{
    /* bottom: 3px; */
    width: 100%;
    height: .14rem;
    display: -webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-items:center;
    /* margin: 0 auto; */
}
#diandian2 .swiper-pagination-bullet{
    width: .15rem;
    height: 2px;
    margin: 0 3px 0 0;
    background-color: #ccc;
    display: block;
}
#diandian2 .swiper-pagination-bullet-active{
    background-color: #FF5100;
}
.tb-market-content-nav-mini{
    height: .65rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: .44rem;
    z-index: 11;
    width: 100%;
    display: none;
}
.nav-mini-wrapper{
    width: 100%;
    height: .65rem;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-wrap:nowrap;
    overflow-x: auto;
}
.nav-mini-wrapper a{
    /* display: block; */
    width: .5rem;
    margin: 0 7px 0;
    padding-top: 4px;
    text-align: center;
}
.nav-mini-wrapper a:first-child{
    margin-left: .15rem;
}
.nav-mini-wrapper a img{
    width: .36rem;
    margin: 0 auto;
}
.nav-mini-wrapper a span{
    font-size: 12px;
    margin-top: 5px;
    width: .5rem;
}
.tb-market-content-selected{
    padding: 0 .15rem .15rem;
    background: #fff;
    margin-bottom: 9px;
}
.title{
    padding: .15rem 0 10px;
    color: #666;
    height: .16rem;
}
.title h1{
    font-size: .14rem;
    font-weight: 600;
    color: #333;
}
.title span{
    font-size: .14rem;
    font-weight: 600;
    color: #1B5;
    margin-left: 3px;
    display: inline-block;
}
.selected-wrapper{
    height: 2rem;
    display: -webkit-flex;
}
.selected-product-left{
    width: 40.58%;
    background: linear-gradient(90deg, #FFEAE5, #FFF6F3);
    position: relative;
}
.selected-product-left h1{
    padding: 7px 0 7px 9px;
    color: #FF4246;
    font-size: .14rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}
.selected-product-left img{
    width: 100%;
}
.selected-product-right{
    -webkit-flex:1;
   
}
.selected-product-right-top{
    background: linear-gradient(90deg, #E1F6FF, #F4FDFF);
    height: .99rem;
    margin-bottom: 2px;
}
.selected-product-right-top a{
    display: -webkit-flex;
    -webkit-justify-content:space-between;
}
.selected-product-right-top-left{
    padding: 7px 0 7px 9px;
    font-size: 12px;
}
.selected-product-right-top-left h1{
    font-size: .14rem;
}
.selected-product-right-top-left h2{
    font-size: 12px;
    margin-top: 4px;
}
.selected-product-right-top-left h3{
    font-size: 12px;
    margin-top: 1px;
    color: #87CDE1;
}
.selected-product-right-top-left span{
    background-color: #87CDE1;
    color: #fff;
    padding: 1px 2px;
    text-align: center;
    border-radius: 4px;
    margin-top: .1rem;
}
.selected-product-right-top-right{
    -webkit-flex:1;
}
.selected-product-right-top-right img{
    width: 100%;
    height: .99rem;
}
.selected-product-right-bot{
    background: linear-gradient(90deg, #E5E9F8, #F4F6FC); 
}
.selected-product-right-bot .selected-product-right-top-left span{
    background-color: #A9ACD7;
}
.selected-product-right-bot .selected-product-right-top-left h3{
    color: #A9ACD7;
}
.tb-market-content-showTime{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 9px;
    background-color: #fff;
    padding: 0 .15rem .15rem;
    position: relative;
}
.tb-market-content-showTime .title{
    position: absolute;
    left: .15rem;
    top: 0;
}
.showTime-center{
    width: 100%;
    margin-bottom: 3px;
}
.showTime-center a img{
    width: 100%;
}
.showTime-bot{
    display: -webkit-flex;
    box-sizing: border-box;
}
.showTime-bot a{
    width: 33.333%;
}
.showTime-bot a:nth-child(2){
    margin: 0 3px;
}
.showTime-bot a img{
    width: 100%;
}
/* footer */
footer{
    height: .49rem;
    border-top: 1px solid #E4E4E4;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-justify-content:space-between;
    -weblit-align-items:center;
}
.tb-market-footer-list{
    width: 20%;
    text-align: center;
    padding: 3px 0 1px;
}
.tb-market-footer-list a{
    font-size: 12px;
    color: #999;
}
.tb-market-footer-list a span{
    height: .14rem;
}
.tb-market-footer-list a i{
    font-size: .23rem;
}
footer .tb-market-footer-list:first-child a{
    color: #30B30E;
}